extends layout

block content
  #main Initializing...
  #status Querying draggable availability
  - if (hidehelp)
    #help(style="display:none;")
  - else
    #help
      h2 Uso
      p
        | Trascinare files verso l'alto dello schermo setta il contentuto del buffer corrente; Trascinare piu' file per settare piu' buffers (quasi funziona); I buffers vengono salvati sul server, quindi condividere la url condivide la sessione
      h2 Tastiera
      ul
        li h - Mostra/nascondi questo help
        li 0-9 - Usa buffer n
        li
          del &lt;tab&gt; Tap per settare il tempo
        li s - stop/go
  button#gfs(onclick="$(document).fullScreen(true);$('#gfs').remove();")
    | Fullscreen
