doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/all.js')
    script(src='javascripts/spara.js')
    script(src='javascripts/vista.js')
  body
    block content
