html {
  background-color: black;
}
body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}
a {
  color: #00B7FF;
}
#main {
  max-width: 1000px;
  margin: auto;
  left: 1%;
  right: 1%;
  position: absolute;
  text-align: center;
  font-size: 120px;
}
body.hover { border: 30px dashed #300; }
